
h1 {
  color: goldenrod;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: 'Courier New', Courier, monospace
}
h2{
  text-align: center;
  color: grey;
  font-weight: 400;
}
a{
  color: orange;
  font-size:1.2rem;
}
img{
  background: grey;
}
li{
  padding-left: 0;
}
